:root {
    --dark: #141414;
    --light: #ddd;
    --aae-blue: #1d4d99;
    --aae-blue-light: #286dd7;
    --default-padding: 1rem;
    --sidebar-width: 200px;

    --card-background: #dededf;
    --accent: rgba(0, 0, 0, 0.05);
    --highlight: var(--aae-blue);
    --background-color: var(--light);
    --foreground-color: var(--dark);
    --heading-color: var(--aae-blue);
    --button-background: transparent;
}

:root.dark-mode {
    --card-background: #2c2c2d;
    --accent: rgba(255, 255, 255, 0.05);
    --highlight: var(--aae-blue-light);
    --background-color: var(--dark);
    --foreground-color: var(--light);
    --heading-color: var(--aae-blue-light);
}

@keyframes STOPPP {
    0% {
        transform: rotate(0deg) scale(0.8);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(0.8);
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--foreground-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: var(--heading-color);
    font-weight: bold;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    padding: 0 0 var(--default-padding) 0;
    box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.1);
    background: var(--card-background);
}

.card .card-header {
    margin: 0;
    padding: var(--default-padding) var(--default-padding);
    border-bottom: 2px solid var(--accent);
}

.card .card-body {
    padding-top: var(--default-padding);
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

ul {
    padding: var(--default-padding) 0 0;
    margin: 0;
    list-style: none;
}

li a {
    padding: 0.4em var(--default-padding);
    display: block;
    word-break: break-all;
}

li a:hover,
li a:focus {
    background: var(--accent);
}

.group {
    margin: var(--default-padding);
}

.group:target {
    border: 1px solid var(--highlight);
}

.group-header {
    position: sticky;
    top: 0;
    background: var(--card-background);
}

.sidebar {
    padding: var(--default-padding);
}

.sidebar .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.sidebar .card-header {
    flex: 0 0 auto;
}

.sidebar {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.sidebar .controls {
    flex: 0 0 auto;
    padding: 0.5em var(--default-padding);
}

.sidebar .buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.sidebar .buttons .button {
    flex: 0 0 33%;
    padding: 0.1em var(--default-padding)
}

button {
    cursor: pointer;
    font: inherit;
    padding: 0.2em 0.3em;
    border: 1px solid var(--accent);
    background: var(--button-background);
    color: var(--foreground-color);
}

button:hover,
button:focus {
    background: var(--accent);
    border: 1px solid var(--highlight);
}

button:active {
    background: var(--highlight);
    color: white;
}

.stop-button img {
    height: 2em;
}

.button.emoji {
    font-size: 2em;
    line-height: 0;
}

.auto-stop .auto {
    display: inline-block;
    opacity: 0.5;
    filter: grayscale(1);
}

.STOPPPP .auto-stop .auto {
    opacity: 1;
    filter: grayscale(0);
    animation: STOPPP 1s linear infinite;
}

.sidebar .main-navigation {
    flex: 100%;
    position: relative;
}

.sidebar .main-navigation ul {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sound-button {
    text-align: left;
    word-break: break-all;
    padding: 0.3em 0.7em;
    margin: 0 0.3em 0.4em 0;
}

@media (min-width: 500px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
        max-height: 100vh;
    }

    .sidebar {
        flex: 1 0 30%;
        min-width: 300px;
        max-width: 500px;
    }

    .main {
        overflow-y: auto;
    }
}
